<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 这是sprinmvc的配置，只需要扫描控制层注解，如果在某些情况下，需要指定扫描某个父包，
        <context:include-filter 指定扫描哪些注解、
        还需要设置use-default-filters="false"，否则事务会不起作用
     -->
    <context:component-scan base-package="com.feng" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 3控制器类上使用@Validated注解时，需要增加该配置 -->
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
    <!-- 设置 conversion-service，引入转换器-->
    <mvc:annotation-driven validator="validator">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <!--  ObjectMapper objectMapper = new ObjectMapper();
                     objectMapper.setDateFormat(new SimpleDateFormat("yyyy-MM-dd")) -->
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 1 使用validation注解  要配置该类 -->
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <!-- 配置资源文件 -->
    <bean id="hibernateMessages"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="basenames">
            <list>
                <value>ValidationMessages</value>
            </list>
        </property>
    </bean>
    <!-- 配置验证器 -->
    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass"
                  value="org.hibernate.validator.HibernateValidator"></property>
        <property name="validationMessageSource"
                  ref="hibernateMessages"></property>
    </bean>

    <mvc:default-servlet-handler/>

    <!--2、注解驱动-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
    <!--4、配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--文件大小-->
        <property name="maxUploadSize" value="30000000"></property>
        <!--内存 每一次读取的大小-->
        <property name="maxInMemorySize" value="10240"></property>
        <!--名称的编码格式-->
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
    <!--5、全局转换器-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.feng.convert.DateConverter"/>
            </list>
        </property>
    </bean>

</beans>