<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.TrainMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Train">
    <id column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_type" jdbcType="VARCHAR" property="tType" />
    <result column="t_capacity" jdbcType="INTEGER" property="tCapacity" />
    <result column="t_price" jdbcType="INTEGER" property="tPrice" />
    <result column="c_id" jdbcType="INTEGER" property="cId" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, t_name, t_type, t_capacity, t_price, c_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train
    where t_id = #{tId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from train
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Train">
    insert into train (t_id, t_name, t_type, 
      t_capacity, t_price, c_id
      )
    values (#{tId,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR}, #{tType,jdbcType=VARCHAR}, 
      #{tCapacity,jdbcType=INTEGER}, #{tPrice,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Train">
    insert into train
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="tName != null">
        t_name,
      </if>
      <if test="tType != null">
        t_type,
      </if>
      <if test="tCapacity != null">
        t_capacity,
      </if>
      <if test="tPrice != null">
        t_price,
      </if>
      <if test="cId != null">
        c_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tType != null">
        #{tType,jdbcType=VARCHAR},
      </if>
      <if test="tCapacity != null">
        #{tCapacity,jdbcType=INTEGER},
      </if>
      <if test="tPrice != null">
        #{tPrice,jdbcType=INTEGER},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Train">
    update train
    <set>
      <if test="tName != null">
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tType != null">
        t_type = #{tType,jdbcType=VARCHAR},
      </if>
      <if test="tCapacity != null">
        t_capacity = #{tCapacity,jdbcType=INTEGER},
      </if>
      <if test="tPrice != null">
        t_price = #{tPrice,jdbcType=INTEGER},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=INTEGER},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Train">
    update train
    set t_name = #{tName,jdbcType=VARCHAR},
      t_type = #{tType,jdbcType=VARCHAR},
      t_capacity = #{tCapacity,jdbcType=INTEGER},
      t_price = #{tPrice,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
</mapper>